.price-validation-area {
    background-color: red;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    margin-top: 5px;
}

.price-input:focus{
    border: 1px solid green;
    border-radius: 5px;
    outline: none;
}

.price-input {
    border: 1px solid grey;
    border-radius: 5px;
    outline: none;
    margin-left: 3px;
    color: black;
}

.price-input-blur {
    color: green;
}

.price-input-error {
    border: 1px solid darkred;
}

.remove-button {
    border: 1px solid lightgray;
    color: lightgray;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 4px;
    border-radius: 50%;
    outline: none;
}

.price-label {
    color: white;
}


.current-price-span {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    color: gray;
    display: none;
}

.error {
    display: block;
    margin-left: 65px;
    margin-top: 5px;
    color: white;
    font-size: 14px;
}
